amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
docstring_parser==0.17.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
ibm-cloud-sdk-core==3.24.2
ibm-watsonx-orchestrate==2.2.0
idna==3.11
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
kombu==5.6.2
langchain-core==1.2.7
langsmith==0.6.4
markdown-it-py==4.0.0
mdurl==0.1.2
orjson==3.11.5
packaging==25.0
prompt_toolkit==3.0.52
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
redis==7.1.0
requests==2.32.5
requests-toolbelt==1.0.0
rich==13.9.4
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.5
tenacity==9.1.2
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.4.4
urllib3==2.6.3
uuid_utils==0.14.0
vine==5.1.0
wcwidth==0.8.2
zstandard==0.25.0
